.title-h1 {
  @include style-title-h1;
  cursor: default;
  clear: both;
}

svg.icn {
  display: inline-block;
  fill: currentColor;
  user-select: none;

  &--arrow {
    width: 7px;
    height: 12px;
  }
}

.nowrap {
  white-space: nowrap;
}
